body{
    font-family:"Poppins", sans-serif;
}

.project{
    position: relative;
}

.allcontent{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}

.navbar{
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}

.navbar .hamburger{ 
    display: none;
}

.navbar .hamburger:hover{ 
    cursor: pointer;
    color: darkblue;
}

.navbar .bar1, .bar2, .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    border-radius: 30px;
    margin: 3px;

}

.navbar .left{
    font-weight: bold;
    font-size: 32px;
}

.navbar .right{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar .logo a:hover{
    text-decoration: none;
}

.navbar .right img{
    width: 24px;
    height: 24px;
}

.mobilenav{
    width: 80px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top:80px;
    right: 0px;
    padding: 16px;
    transition: transform 0.3s;

}

.mobilenav img{
    height:24px;
    width: 24px;
    margin: 20px 0;
}

.mobilenav a{
    text-decoration: none;
    color: black;
}

.mobilenav a:hover{
    text-decoration: underline;
}

.openDrawer{
    transform: translateX(160px);
}



.project-grid{
    margin: 20px auto;
    display: grid;
    grid-template-areas: 
        "a a b"
        "a a c"
        "d e c"
        "f g g"
        "f g g"
        "h h i"
        "h h i";
    gap: 8px;
    width: 100%;
}


.project a{
    text-decoration: none;
    color: black;
}
#eth{
    grid-area: a;
}

#alphabet{
    grid-area: b;
}

#traveler{
    grid-area: c;
}

#astro{
    grid-area: d;
}

#cube{
    grid-area: e;
}

#cup{
    grid-area: f;
}

#insta{
    grid-area: g;
}

#foam{
    grid-area: h;
}

#dimensional{
    grid-area: i;
}

.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .overlay{
    font-weight: bold;
    font-size: 36px;
    background-color: rgba(255,255,255, 0.2);
    margin:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    opacity: 0;
    transition: all 0.4s ease;
}

.project .overlay:hover{
    opacity: 1;
    cursor: pointer;
}

#white{
    color: white;
}

@media only screen and (max-width:1100px){
    .allcontent{
        max-width: 100%;
    }
    .project-grid{
        grid-template-areas: 
        "a a"
        "b c"
        "d e"
        "f f"
        "g h"
        "i i";

    }
    .footer{
        padding: 10px;
        font-size: 17px;
    }
}




@media only screen and (max-width:800px){
    .project-grid{
        max-width: 100%;
        grid-template-areas: 
        "a a"
        "b b"
        "c c"
        "d e"
        "f f"
        "g g"
        "h h"
        "i i";

    }

    .navbar {
        padding: 16px 24px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: white;
        width:100%;
    }
    .project .overlay{
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 2px;
    }
    .project-grid{
        margin-top: 100px;
    }

    .navbar .hamburger{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer{
        padding: 10px;
        font-size: 15px;
    }

    .navbar .right{
        display:none;
    }
}

.footer{
    font-style: italic;
    text-align: center;
    padding: 20px;

}

.animateBar1{
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2{
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}

.animateBar3{
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeBar2{
    from{ 
        transform: scaleX(1);
        opacity: 1;
    }
    to{
        transform: scaleX(0);
        opacity: 0;
    }
    
}

@keyframes flipBar1{
    from{ 
        transform: rotate(0);
        
    }
    to{
        transform: rotate(45deg) translate(4px, 10px);
    }
    
}

@keyframes flipBar3{
    from{ 
        transform: rotate(0);
    }
    to{
        transform: rotate(-45deg) translate(4px, -10px);
    }
    
}

/*ABOUT ME*/

.aboutme{
    margin: 70px auto 0 auto;
    padding: 10px 0;
    background-color: white;
    width: 100vw;
    display: flex;
    max-width: 90%;
}

.aboutme p, h1, h3, h4{
    color: black;
    margin: 10px;
    padding: 0;

}

.writeup{
    max-width: 700px;
    margin: 0 auto;
    font-size: 19px;
}

.mugshot{
    display: flex;
    justify-content: center;
    margin: 0 40px 0px 0;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 370px;

}

.titles h4{
    margin: 0;
    padding: 0;
}


.teamface2{
    width: 250px;
    height: 350px;
    background-image: url("images/flower\ me.jpg");
    background-size: 150%;
    border-radius: 150px 150px 0 0;
    background-position: 30% 30%;
    border: solid 2px #69BDCF;
}

@media only screen and (max-width: 800px){
    .aboutme{
        display: flex;
        flex-direction: column-reverse;
    }

    .teamface2{
        margin-top: 25px;
    }
}

.contactpage{
    background-image: url(images/whitebg.png);
    background-size: cover;
    padding:40px 0;

}

.contactcard{
    background-color: #867EDF;
    width: 1000px;
    padding: 20px 70px;
    margin: 110px auto 40px auto;
    border: solid 2px #125061;
}

.contactcard .contactus{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
    color: white;
}

.contactcard .frizzyhair{
    text-transform: uppercase;
    font-size: 25px;
    color:white;
    margin: 10px auto;
}

.contactcard .contactext{
    font-size: 16px;
    color:whitesmoke;
    margin: 0 auto 40px auto;
}

.form-left p, .form-right p{
    font-size: 25px;
    color: white;
    margin: 10px 0px;
    text-align: left;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.form-left {
    margin:0;
    padding:0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
}

.form-right{
    padding-left: 120px;
    font-size:16px;
    width: 40%;
    float: right;
    color: white;
    margin-left: 5px;
}

.form-right .checkbox{
    margin: 15px 0 5px 0;
    font-weight: bold;
    color: white;
}

.form-right #subtext{
    margin: 0 0 0 12;
    color:white;
    font-size: 14px;
    font-weight: normal;
    text-transform:none;
}

.form-left #subtext{
    color:white;
}
