@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.project {
  position: relative;
}

.allcontent {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

.navbar {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger:hover {
  cursor: pointer;
  color: darkblue;
}

.navbar .bar1,
.bar2,
.bar3 {
  background-color: black;
  height: 4px;
  width: 36px;
  border-radius: 30px;
  margin: 3px;
}

.navbar .left {
  font-weight: bold;
  font-size: 32px;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .logo a:hover {
  text-decoration: none;
}

.navbar .right img {
  width: 24px;
  height: 24px;
}

.mobilenav {
  width: 80px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 80px;
  right: 0px;
  padding: 16px;
  transition: transform 0.3s;
}

.mobilenav img {
  height: 24px;
  width: 24px;
  margin: 20px 0;
}

.mobilenav a {
  text-decoration: none;
  color: black;
}

.mobilenav a:hover {
  text-decoration: underline;
}

.openDrawer {
  transform: translateX(160px);
}

.project-grid {
  margin: 20px auto;
  display: grid;
  grid-template-areas:
    "a a b"
    "a a c"
    "d e c"
    "f g g"
    "f g g"
    "h h i"
    "h h i";
  gap: 8px;
  width: 100%;
}

.project a {
  text-decoration: none;
  color: black;
}
#image1 {
  grid-area: a;
}

#image2 {
  grid-area: b;
}

#image3 {
  grid-area: c;
}

#image4 {
  grid-area: d;
}

#image5 {
  grid-area: e;
}

#image6 {
  grid-area: f;
}

#image7 {
  grid-area: g;
}

#image8 {
  grid-area: h;
}

#image9 {
  grid-area: i;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  font-weight: bold;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  opacity: 0;
  transition: all 0.4s ease;
}

#img3 {
  font-size: 32px;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

#white {
  color: white;
}

@media only screen and (max-width: 1100px) {
  .allcontent {
    max-width: 100%;
  }
  .project-grid {
    grid-template-areas:
      "a a"
      "b c"
      "d e"
      "f f"
      "g h"
      "i i";
  }
  .footer {
    padding: 10px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 800px) {
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d e"
      "f f"
      "g g"
      "h h"
      "i i";
  }

  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
  }
  .project .overlay {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .project-grid {
    margin-top: 100px;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding: 10px;
    font-size: 15px;
  }

  .navbar .right {
    display: none;
  }
}

.footer {
  font-style: italic;
  text-align: center;
  padding: 20px;
}

.animateBar1 {
  animation: flipBar1 0.5s;
  animation-fill-mode: forwards;
}

.animateBar2 {
  animation: fadeBar2 0.5s;
  animation-fill-mode: forwards;
}

.animateBar3 {
  animation: flipBar3 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

/*ABOUT ME*/

.aboutme {
  margin: 70px auto 0 auto;
  padding: 10px 0;
  background-color: white;
  width: 100vw;
  display: flex;
  max-width: 90%;
}

.aboutme p,
h1,
h3,
h4 {
  color: black;
  margin: 10px;
  padding: 0;
}

.writeup {
  max-width: 700px;
  margin: 0 auto;
  font-size: 19px;
}

.mugshot {
  display: flex;
  justify-content: center;
  margin: 0 40px 0px 0;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 370px;
}

.titles h4 {
  margin: 0;
  padding: 0;
}

.teamface2 {
  width: 250px;
  height: 350px;
  background-image: url("images/flower\ me.jpg");
  background-size: 150%;
  border-radius: 150px 150px 0 0;
  background-position: 30% 30%;
  border: solid 2px #69bdcf;
}

@media only screen and (max-width: 800px) {
  .aboutme {
    display: flex;
    flex-direction: column-reverse;
  }

  .teamface2 {
    margin-top: 25px;
  }
}

/*Blog Posts*/
.blogviewport {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

#crop {
  height: 75%;
  object-fit: cover;
  object-position: 50% 30%;
  overflow: hidden;
}

#crop2 {
  height: 750px;
  object-fit: cover;
  overflow: hidden;
}

.blogviewport h2 {
  margin: 16px auto;
  border: 2px solid black;
  padding: 5px 10px;
  display: inline-block;
}

.blogviewport h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}

.blogviewport h3 {
  font-weight: 400;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogviewport h4 {
  font-weight: 600;
  margin: 0;
}

.blogviewport .blogwriteup {
  max-width: 800px;
}

.featuredposts {
  max-width: 800px;
}

.blogwriteup img {
  width: 800px;
  margin: 10px 0;
}

/*Blog Main Page*/

.BlogMainPage {
  max-width: 1400px;
  flex-wrap: wrap;
  display: flex;
}

.blogpost1 {
  width: 300px;
  height: 380px;
  background-image: url(images/dsteps\ cover\ 2.png);
  background-position: 0%;
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost1 {
  width: 300px;
  height: 380px;
  background-image: url(images/dsteps\ cover\ 2.png);
  background-position: 0%;
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogpost1:hover,
.blogpost2:hover,
.blogpost3:hover,
.blogpost4:hover,
.blogpost5:hover,
.blogpost6:hover,
.blogpost7:hover,
.blogpost8:hover,
.blogmainpost1:hover,
.blogmainpost2:hover,
.blogmainpost3:hover,
.blogmainpost4:hover,
.blogmainpost5:hover,
.blogmainpost6:hover,
.blogmainpost7:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.blogmainpost2,
.blogpost2 {
  width: 300px;
  height: 380px;
  background-image: url(images/half\ rainbow.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost3,
.blogpost3 {
  width: 300px;
  height: 380px;
  background-image: url(images/mornington\ brunch.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost4,
.blogpost4 {
  width: 300px;
  height: 380px;
  background-image: url(images/unimelb\ study.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost5,
.blogpost5 {
  width: 300px;
  height: 380px;
  background-image: url(images/blue\ mountain\ sunset\ grass.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost6,
.blogpost6 {
  width: 300px;
  height: 380px;
  background-image: url(images/sydney\ cover.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost7,
.blogpost7 {
  width: 300px;
  height: 380px;
  background-image: url(images/mt\ buller.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

.blogmainpost8,
.blogpost8 {
  width: 300px;
  height: 380px;
  background-image: url(images/hot\ springs\ portrait.jpg);
  background-size: cover;
  border-radius: 2px;
  background-position: center;
  cursor: pointer;
  margin: 8px 0;
}

/* .blogcard .blogtitle {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: 400;
  transition: 0.15s transform ease;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
} */

.card-container {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.card-container .card a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: 400;
  transition: 0.15s transform ease;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.card-container .card a:hover {
  color: grey;
  transition: 0.2s;
}

.blog-container .blogcard .blogtitle:hover {
  color: grey;
  transition: 0.2s;
}

.blog-wrapper a {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 400;
}

.BlogMainPage h1 {
  font-weight: 200;
  font-size: 36px;
  text-align: center;
}

.BlogMainPage {
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 15px;
}

.blog-container {
  display: flex;
}

.blog-container .blogcard {
  width: 300px;
  text-align: center;
}

.blog-container .blogcard a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: 400;
  transition: 0.15s transform ease;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

/*Blogs */

@media only screen and (max-width: 1100px) {
  .blogviewport .blogwriteup {
    max-width: 700px;
  }
  .blogviewport h1 {
    margin: 30 0 16px 0;
    font-size: 34px;
  }

  .blogwriteup img {
    width: 700px;
    margin-top: 16px;
  }

  .more-reads-hidden {
    display: none;
  }

  .card-container {
    gap: 20px;
    max-width: 700px;
  }

  .card-container .card .blogtitle {
    font-size: 24px;
  }

  .BlogMainPage {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 800px) {
  .blogviewport .blogwriteup {
    max-width: 600px;
  }

  .blogviewport h1 {
    margin: 80px 0 16px 0;
    font-size: 30px;
  }

  .blogwriteup img {
    width: 600px;
    margin-top: 16px;
  }

  .more-reads-hidden {
    display: none;
  }

  .featuredposts {
    max-width: 600px;
  }

  .card-container {
    gap: 20px;
    max-width: 600px;
  }

  .BlogMainPage {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 500px) {
  .blogviewport {
    max-width: 350px;
    margin: 0 auto;
  }

  .blogviewport h1 {
    margin: 80px 0 16px 0;
    font-size: 25px;
    text-align: center;
  }

  .blogviewport h4 {
    text-align: center;
    font-style: italic;
  }

  .blogwriteup img {
    width: 350px;
    margin-top: 10px;
  }

  .more-reads-hidden {
    display: none;
  }

  .featuredposts {
    max-width: 350px;
  }

  .card-container {
    gap: 10px;
    max-width: 350px;
  }

  .card .blogpost1,
  .blogpost2,
  .blogpost3,
  .blogpost4,
  .blogpost5,
  .blogpost6,
  .blogpost7,
  .blogpost8 {
    width: 190px;
    height: 270px;
  }

  .card-container .card .blogtitle {
    font-size: 20px;
  }

  .blogcard .blogmainpost1,
  .blogmainpost2,
  .blogmainpost3,
  .blogmainpost4,
  .blogmainpost5,
  .blogmainpost6,
  .blogmainpost7,
  .blogmainpost8 {
    width: 300px;
    height: 380px;
  }
}

@media only screen and (max-width: 400px) {
  .blogviewport .blogwriteup {
    max-width: 300px;
  }

  .blogviewport h1 {
    margin: 130px 0 16px 0;
    font-size: 25px;
  }

  .blogviewport h4 {
    font-size: 14px;
  }

  .blogwriteup img {
    width: 300px;
    margin-top: 10px;
  }

  .more-reads-hidden {
    display: none;
  }

  .featuredposts {
    max-width: 300px;
  }

  .card-container {
    gap: 12px;
    max-width: 300px;
  }

  .card .blogpost1,
  .blogpost2,
  .blogpost3,
  .blogpost4,
  .blogpost5,
  .blogpost6,
  .blogpost7,
  .blogpost8 {
    width: 150px;
    height: 200px;
  }

  .card-container .card .blogtitle {
    font-size: 17px;
  }

  .blogcard .blogmainpost1,
  .blogmainpost2,
  .blogmainpost3,
  .blogmainpost4,
  .blogmainpost5,
  .blogmainpost6,
  .blogmainpost7,
  .blogmainpost8 {
    width: 300px;
    height: 380px;
  }
}
/*Contact Page*/

.contactpage {
  background-image: url(images/whitebg.png);
  background-size: cover;
  padding: 40px 0;
}

.contactcard {
  background-color: #fff;
  width: 1000px;
  padding: 20px 70px;
  margin: 110px auto 40px auto;
  border: solid 2px #125061;
}

.contactcard .contactus {
  font-size: 60px;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

/*
.decor{
    width:600px;
    height:40px;
    background-color: #ddbc27;
    position: absolute;
    top: 370px;
    left: 230px;
    z-index: 1;
}
*/

/*Table of Contents*/

.tableofcontentscontainer {
  display: flex;
  margin-left: 40px;
}
.tableofcontents {
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 5px 10px;
  display: inline-block;
}

.tableofcontents h4 {
  text-decoration: underline;
  padding: 0 0 4px 0;
  font-size: 18px;
}

.tableofcontents a {
  text-decoration: none;
  color: black;
  transition: transform 0.15s ease;
  font-size: 16px;
  padding: 1px 0;
}

.tableofcontents a:hover {
  text-decoration: none;
  color: lightseagreen;
  transition: 0.1s;
}

.contactcard .frizzyhair {
  text-transform: uppercase;
  font-size: 25px;
  color: black;
  margin: 10px auto;
}

.contactcard .contactext {
  font-size: 16px;
  color: black;
  margin: 0 auto 40px auto;
}

.form-left p,
.form-right p {
  font-size: 25px;
  color: black;
  margin: 10px 0px 0 0;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.form-left {
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 40%;
  float: left;
}

.form-right {
  padding-left: 120px;
  font-size: 16px;
  width: 40%;
  float: right;
  color: black;
  margin-left: 5px;
}

.form-right .checkbox {
  margin: 15px 0 5px 0;
  font-weight: bold;
  color: white;
}

.form-right #subtext {
  margin: 0 0 0 12;
  color: black;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
}

.form-left #subtext {
  color: white;
}
